<header id="flights-header"><h1>Flights</h1></header>

<div id="flights-body">
  <% if current_user && !@friends_flights.empty? %>
  <div class="flights-row-header">Friends' Flights</div>
  <div id="friends-flights" class="flights-row-body">
    <% @friends_flights.each do |flight| %>
    <div class="each-flight" <% if flight.pictures.present? %> style="background: url(<%= flight.pictures.sample.image_url.to_s %>) no-repeat; background-size: cover" <% else %> style="background: url(http://rack.0.mshcdn.com/media/ZgkyMDEzLzA3LzI5LzU1L2dydW1weWNhdC5kZmM3MC5wbmcKcAl0aHVtYgkxMjAweDYyNyMKZQlqcGc/f780e423/c84/grumpycat.jpg) no-repeat; background-size: cover" <% end %> ><%= link_to flight.callsign, flight_path(flight) %></div>
    <% end %>
  </div>
  <% end %>

  <div class="flights-row-header">Most Liked</div>
  <div id="most-liked" class="flights-row-body option">
    <% @most_liked.each do |flight| %>
    <div class="each-flight"><%= link_to flight.callsign, flight_path(flight) %></div>
    <% end %>
  </div>

  <div class="flights-row-header">Latest</div>
  <div id="latest" class="flights-row-body">
    <% @latest.each do |flight| %>
    <div class="each-flight"><%= link_to flight.callsign, flight_path(flight) %></div>
    <% end %>
  </div>

  <div class="flights-row-header">Flights Near You</div>
  <div id="flights-near-you" class="flights-row-body option">
    <% @flights_near_you.each do |flight| %>
    <div class="each-flight"><%= link_to flight.callsign, flight_path(flight) %></div>
    <% end %>
  </div>

  <div class="flights-row-header">Highest Altitude</div>
  <div id="highest-altitude" class="flights-row-body">
    <% @highest_altitude.each do |flight| %>
    <div class="each-flight"><%= link_to flight.callsign, flight_path(flight) %></div>
    <% end %>
  </div>

  <div class="flights-row-header">Longest Duration</div>
  <div id="longest-duration" class="flights-row-body option">
    <% @longest_duration.each do |flight| %>
    <div class="each-flight"><%= link_to flight.callsign, flight_path(flight) %></div>
    <% end %>
  </div>
</div>

<div class="flights-row-header">Greatest Distance Traveled</div>
<div id="distance-traveled" class="flights-row-body">
  <% @greatest_distance.each do |flight| %>
  <div class="each-flight"><%= link_to flight.callsign, flight_path(flight) %></div>
  <% end %>
</div>

<footer id="flights-footer"></footer>
