%h1 
	="#{@flight.callsign}"

%h3
	="Max Altitude: #{@flight.max_altitude}"
	%br
	="Flight Duration: #{@flight.duration}"
	%br
	="Total Distance Traveled: #{@flight.distance_traveled}"
	%br
	-@data_points.each_with_index do |point, index|
		%br
		=index + 1
		-point[:data].each do |key, value|
			="#{key}: #{value}" if value