#flights-header
  %h1="#{@flight.callsign}"

#sidebar
  #stats
    %h3 Bulletin Board
    .stats-row
      .stat-property Burst Altitude
      .stat-value="#{@flight.max_altitude} m"
    .stats-row
      .stat-property Distance Traveled
      .stat-value="#{@flight.distance_traveled.round} km"
    .stats-row
      .stat-property Time to Burst
      .stat-value="#{@flight.time_to_burst}"
    .stats-row
      .stat-property Time of Descent
      .stat-value="#{@flight.time_of_descent}"
    .stats-row
      .stat-property Trip Duration
      .stat-value="#{@flight.duration}"
  #write-comments
    #show-comment-box
      %button#add-comment-button Add Comment
      #comment-input-box
        =form_for :comment, method: 'POST', url: "/comments" do |f|
          =f.hidden_field :data_point_id, id: "data_point"
          =f.hidden_field :flight_id, value: "#{params[:id]}"
          =f.text_area :body, id: "comment_body"
          =f.submit "Add", id: "comment-submit"
  #comment_container
    %button#show-comments-button Display Comments
    #comment_roll
      -if @flight.comments.present?
        -@flight.comments.order(created_at: :desc).each do |comment|
          .comment_body
            %p.head
              =link_to comment.author.username, user_path(comment.author)
            %p.body= comment.body
      -else
        %p{id: "no-comment"} No Comments Yet

#main
  #top
    .flight_chart
      = render :partial => 'data_visualizations/index'
    #side-area
  #below_chart
    #comment_display
      %p
    #triggers
      %button#chart_map_button MAP
      %button#button-play
        %i.fa.fa-play
  #bottom
    #gauge_6_info
    #gauge_6
    #gauge_3
    #gauge_1
    #gauge_4
    #gauge_7
    #gauge_7_info
    #gauge_5
