.profile_user.col-1-4
  .username
    %h1= "#{@user.username}"
  #avatar{:style => "background-image: url('#{image_path @user.avatar_url}')"}
    .edit= link_to "Edit Photo", edit_user_path(@user)
  #avatar_form
    = render :partial => 'users/edit', :locals => { :user => @user }

.profile_friends.col-1-3
  %h3="#{@user.username}'s friends"
  %br
  %table#friends
    -@user.approved_friends.each do |friend|
      %tr{id: "#{Friendship.find_id(@user, friend)}", class: "remove-#{Friendship.find_id(@user, friend)}"}
        %td= link_to image_tag(friend.avatar_url(:avatar_thumb)), user_path(friend)
        %td.username= link_to friend.username, user_path(friend)
        %td.unfriend
          -if current_user == @user
            %a{href: "#", value: "/friendships/#{Friendship.find_id(@user, friend)}", } unfriend
    -if current_user == @user
      -@user.pending_friends.each do |friend|
        %tr
          %td= link_to image_tag(friend.avatar_url(:avatar_thumb)), user_path(friend)
          %td.username= link_to friend.username, user_path(friend)
          %td.pending= "pending"

.profile_flights.col-1-3
  %h3="#{@user.username}'s flights"
  %br
  -@user.flights.each do |flight|
    .flight{:style => "background-image: url(#{image_path flight.album_cover})"}
      %a{:href => "#{flight_path(flight)}"}
        .callsign="#{flight.callsign}"

#add_users_to_flight
  - if current_user == @user
    = form_for Launch.new do |f|
      %p
        %select{ name: "flight_id"}
          - @user.flights.each do |flight|
            %option{value: flight.id} "#{flight.callsign}"
      %input{name: 'username', id: 'autocomplete_username'}
      %p
        = f.submit "Add to flight!"

