#profile_user.col-1-4
  =image_tag @user.avatar_url
  .username= "#{@user.username}"

#profile_friends.col-1-3
  %h3="#{@user.username}'s friends"
  %br
  %table#friends
    -@user.approved_friends.each do |friend|
      %tr
        %td= link_to image_tag(friend.avatar_url(:avatar_thumb)), user_path(friend)
        %td.username= link_to friend.username, user_path(friend)
        %td.approved= link_to "unfriend", "/friendships/#{Friendship.find_by(user: @user, friend: friend).id}", method: :delete
    -if current_user == @user
      -@user.pending_friends.each do |friend|
        %tr
          %td= link_to image_tag(friend.avatar_url(:avatar_thumb)), user_path(friend)
          %td.username= link_to friend.username, user_path(friend)
          %td.pending= "pending"

#profile_flights.col-1-3
  %h3="#{@user.username}'s flights"
  %br
  -@user.flights.each do |flight|
    .flight{:style => "background-image: url(#{image_path flight.album_cover})"}
      %p="#{flight.callsign}"
-if current_user == @user
  =form_for Launch.new do |f|
    %p
      %select{ name: "flight_id"}
        -@user.flights.each do |flight|
          %option{value: flight.id} "#{flight.callsign}"
      %select{ name: "friend_id"}
        -@user.friends.each do |friend|
          %option{value: friend.id} "#{friend.username}"
    %p
      = f.submit "Add to flight!"



