%h2 Import flight pictures

= form_for :picture, method: 'POST', url: {action: 'create'}, :html => {:multipart => true} do |f|
  = f.hidden_field :flight_id
  %p
    = f.label :caption
    %br/
    = f.text_field :caption
  %p
    = f.file_field :files, multiple: true
  %p
    = f.label :remote_image_url, "or image URL"
    %br/
    = f.text_field :remote_image_url
  %p= f.submit
